<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>


    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <py-env>
    - numpy
    - matplotlib
    - faker
    </py-env>

<body>

    {{pageBody}}
    <py-script>
    from faker import Faker

    fake = Faker('pl_PL')

    def random_name() -> str:
        full_name = fake.first_name() + " " + fake.last_name()
        return full_name

    for _ in range(10):
        print(random_name())
    </py-script>
</body>

</html>